{% load static%}
<div class="col-xl-8 center-horizontal">
    <div class="contact-form-wrapper">
      <div class="row">
        <div class="col-xl-10 col-lg-8 mx-auto">
          <div class="section-title text-center">
            <h2>مسابقة شباب الخير بالبرقي</h2>
          </div>
        </div>
      </div>
        {% if hideNationalID == False %}
            <h5 class="text-center">للتسجيل في مسابقة شباب الخير بالبرقي لعام 2026م/1447ه الرجاء ادخال الرقم القومي</h5>
            <br>
            <form method="POST" action="#" class="row g-3 needs-validation" novalidate>
              {% csrf_token %}
              {% include 'includes/national-id-form.html' %}
              <div class="button text-center rounded-buttons">
                <button type="submit" name="nationalIDForm" class="btn primary-btn rounded-full">التالي</button>
              </div>
            </form>
        {% else %}
            {% if new_student == None %}
              <h5 class="text-center">الرجاء التأكد من ان جميع البيانات صحيحة وفي حالة حدوث مشكلة الرجاء المحاولة مرة اخري او التواصل علي الواتساب من خلال الضغط هنا:</h5>
            {% else %}
              <h5 class="text-center">لقد تم التسجيل بالفعل في المسابقة</h5>
              <br>
              <h5 class="text-center">في حالة وجود مشكلة الرجاء التواصل علي الواتساب من خلال الضغط هنا:</h5>
            {% endif %}
            <br>
            <div class="button text-center rounded-buttons">
                <a class="btn primary-btn rounded-full" target="_blank" href="https://wa.me/201098831979">
                    <img src="{% static 'image/whatsapp.png' %}" alt="Logo" width="22" height="22" class="d-inline-block align-text-center" style="margin-left:5px;">
                    تواصل معنا
                </a>
            </div>
        {% endif %}
    </div>
  </div>