{% extends 'includes/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
  <!DOCTYPE html>
  <html dir="rtl" lang="ar">
    <body>
      <!-- ========================= contact-section start ========================= -->
      <section id="contact" class="contact-section background">
        <div class="container">
          <div class="col-xl-8 center-horizontal">
            <div class="contact-form-wrapper">
              <div class="row">
                <div class="col-xl-10 col-lg-8 mx-auto">
                  <div class="section-title text-center">
                    <h2>مسابقة شباب الخير بالبرقي</h2>
                    <p>للتسجيل في مسابقة شباب الخير بالبرقي لعام ٢٠٢٤م/١٤٤٥ه الرجاء ادخال الرقم القومي</p>
                  </div>
                </div>
              </div>
              {% if hideNationalID == False %}
              <form method="POST" action="#" class="contact-form">
                {% csrf_token %}
                <div class="row">
                  {{ nationalIDForm }}
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="button text-center rounded-buttons">
                      <button type="submit" name="nationalIDForm" class="btn primary-btn rounded-full">التالي</button>
                    </div>
                  </div>
                </div>
              </form>
              {% endif %}
            </div>
          </div>
          {% if student != None %}
              <div class="col-xl-8 center-horizontal">
                <div class="pricing-style-fourteen">
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th scope="row">الاسم</th>
                        <td>{{ student.name }}</td>
                      </tr>
                      <tr>
                        <th scope="row">الحد الادني للمسابقة القادمة</th>
                        {% if student.isFinished == True %}
                          <td>{{ student.next_amount.title }} (للتقييم فقط)</td>
                        {% elif student.next_amount.number == '30' %}
                          <td>{{ student.next_amount.title }}</td>
                        {% else %}
                          <td>{{ student.next_amount.number }} جزء</td>
                        {% endif %}
                      </tr>
                      <tr>
                        <th scope="row">المقرر من الاحكام</th>
                        <td>{{ student.ahkam }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          {% endif %}
          {% if hideNationalID == True %}
          <div class="col-xl-8 center-horizontal">
            <div class="contact-form-wrapper">
              <form method="post" class="row g-3" onsubmit="enableDisabledInputs()" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <div class="col-12">
                  <div class="button text-center rounded-buttons">
                    <button type="submit" name="submitForm" class="btn primary-btn rounded-full">تسجيل الطالب</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          {% endif %}
        </div>
      </section>
    </body>
  </html>
{% endblock %}

                {% comment %} <div class="row">{{ submitForm.as_ul }}</div> {% endcomment %}
                {% comment %} <div class="col-md-6">
                  <label for="validationCustom01" class="form-label">الاسم بالكامل</label>
                  <input type="text" class="form-control" id="validationCustom01" value="{{ student.name }}" required />
                  <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="col-md-6">
                  <label for="validationCustom02" class="form-label">رقم التليفون</label>
                  <input type="text" class="form-control" id="validationCustom02" value="{{ student.phone }}" required />
                </div>
                <div class="col-md-6">
                  <label for="validationCustom04" class="form-label">عدد الاجزاء</label>
                  <select class="form-select" id="validationCustom04" required>
                    <option selected disabled value="">اختر...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="validationCustom04" class="form-label">السورة</label>
                  <select class="form-select" id="validationCustom04" required>
                    <option selected disabled value="">اختر...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required />
                    <label class="form-check-label" for="invalidCheck">Agree to terms and conditions</label>
                    <div class="invalid-feedback">You must agree before submitting.</div>
                  </div>
                </div> {% endcomment %}