<div class="col-xl-8 center-horizontal">
    <div class="contact-form-wrapper">
      <h3 class="text-center">نموذج تقديم الطالب</h3>
      <br>
      <form method="post" class="row g-3" onsubmit="enableDisabledInputs()" id="submitStudent" data-soura-url="{% url 'ajax_load_soura' %}" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <div class="col-12">
          <div class="button text-center rounded-buttons">
            <button type="submit" name="submitForm" class="btn primary-btn rounded-full">تسجيل الطالب</button>
          </div>
        </div>
      </form>
    </div>
  </div>