{% extends 'includes/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
  <!DOCTYPE html>
  <html dir="rtl" lang="ar">
    <body>
      <!-- ========================= contact-section start ========================= -->
      <section id="contact" class="contact-section background">
        <br>
        <div class="container">
            {% include 'registration/registration-form-nationalID.html' %}
            
            {% if student != None %}
              {% if new_student == None %}
                {% include 'registration/registration-form-student-info.html' %}
              {% endif %}
            {% endif %}
            
            {% if hideNationalID == True %}
              {% if new_student == None %}
                {% include 'registration/registration-submit-form.html' %}
              {% else %}
                {% include 'registration/registration-submitted-student.html' %}
              {% endif %}
            {% endif %}
        </div>
      </section>
      {% include 'registration/registration-form-js.html' %}

      <script>
        window.onload = function() {
          var url = $('#submitStudent').attr('data-soura-url')
          var choiceField = document.getElementById('part');
          var partValue = choiceField.value;
        
          $.ajax({
            url: url,
            data: {
              part: partValue
            },
            dataType: 'json',
            success: function (data) {
              $('#soura').empty()
              $('#soura').append($('<option>', {
                value: '',
                text: '---------'
            }));
              $.each(data, function (index, item) {
                $('#soura').append(
                  $('<option>', {
                    value: item.id,
                    text: item.name
                  })
                )
              })
            }
          })
        };
    </script>
    </body>
  </html>
{% endblock %}