{% extends "includes/base.html" %}
{% load static%}

{% block content %}
<html lang="ar">
	<body>
            <div id="notfound">
                <div class="notfound">
                    <div class="notfound-404">
                        <h1>خطأ!</h1>
                    </div>
                    <h1 style="color:white">{{ code }}</h1>
                    <br>
                    <h2 style="color:white">شكلك عملت حاجة غلط 🫣</h2>
                    <br>
                    <h2 style="color:white">ارجع للصفحة الرئيسية 🏠 وحاول تاني 🏃‍♂️</h2>
                    <br>
                    <br>
                    <div class="button navbar-brand">
                        <a class="primary-btn left-navbar-button" href="/">
                            إلي الصفحة الرئيسية 🏠
                        </a>
                    </div>
                </div>
            </div>
	</body>

</html>

{% endblock content %}