{% extends "includes/base.html" %}
{% load static%}

{% block content %}
<html lang="ar">
    <head>
        <title>CSRF Verification Failed</title>
        <script>
            function checkCookiesEnabled() {
                document.cookie = "testcookie";
                if (document.cookie.indexOf("testcookie") === -1) {
                    document.getElementById("cookie-warning").style.display = "block";
                }
            }
        </script>
    </head>
	<body onload="checkCookiesEnabled()">
            <div id="notfound">
                <div class="notfound">
                    <div class="notfound-404">
                        <h1>خطأ!</h1>
                    </div>
                    <h1>{{ code }}</h1>
                    <br>
                    <h2>شكلك عملت حاجة غلط 🫣</h2>
                    <br>
                    <h2>ارجع للصفحة الرئيسية 🏠 وحاول تاني 🏃‍♂️</h2>
                    <br>
                    <br>
                    <a href="/">إلي الصفحة الرئيسية 🏠</a>
                </div>
            </div>
	</body>

</html>

{% endblock content %}