{% extends "includes/base.html" %}
{% load static%}

{% block content %}
<html lang="ar">
	<body>
            <div id="notfound">
                <div class="notfound">
                    <div class="notfound-404">
                        <h1>خطأ!</h1>
                    </div>
                    <h1 style="color:white">{{ code }}</h1>
                    <br>
                    <h2 style="color:white">شكلك عملت حاجة غلط 🫣</h2>
                    <br>
                    <h2 style="color:white">ارجع للصفحة الرئيسية 🏠 وحاول تاني 🏃‍♂️</h2>
                    <br>
                    <br>
                    <div class="col-12">
                        <div class="button text-center rounded-buttons">
                            <a href="/" class="btn primary-btn rounded-full" style="background-color:wheat; color: rgb(79, 111, 82);">إلي الصفحة الرئيسية 🏠</a>
                        </div>
                    </div>
                </div>
            </div>
	</body>

</html>

{% endblock content %}