{% load widget_tweaks %}

{% if form.non_field_errors%}
<div class="alert alert-danger" role="alerts">
{%for error in form.non_field_errors%}
<p {%if forloop.last%} class="mb-0" {%endif%}>{{error}}</p>
{%endfor%}
</div>
{%endif%}

{% for field in form %}
      {% if field.field.widget.input_type == 'checkbox' %}
        <div class="form-check">
          {{field.label_tag}}
      {%else%}
        <div class="form-group">
          {{field.label_tag}}
      {%endif%}
      
      {%if form.is_bound%}
        {%if field.errors%}
          {% if field.field.widget.input_type == 'checkbox' %}
              {% render_field field class="form-check-input is-invalid" %}
          {%else%}
              {% render_field field class="form-control is-invalid" %}
          {%endif%}
            {%for error in field.errors%}
              <div class="invalid-feedback">{{error}}</div>
            {%endfor%}
        {%else%}
          {% if field.field.widget.input_type == 'checkbox' %}
              {% render_field field class="form-check-input is-valid" %}
          {%else%}
            {% render_field field class="form-control is-valid" %}
          {%endif%}
        {%endif%}
      {%else%}
        {%if field.field.widget.input_type == 'select' %}
            {% render_field field class="form-select" %}
        {% elif field.field.widget.input_type == 'checkbox' %}
            {% render_field field class="form-check-input" %}
        {%else%}
          {% render_field field class="form-control" %}
        {%endif%}
      {%endif%}

    </div>
    {%if field.help_text%}
    <small class="form-text text-muted">
      {{field.help_text}}
    </small>
    {%endif%}

    {% endfor %}