
{% extends "base.html" %}
{% load static%}

{% block content %}
<!DOCTYPE html>
<html dir="rtl" lang="ar">
    <body>
        <!-- Start header Area -->
        <section id="hero-area" class="background header-area header-eight">
            <div class="container">
                <h1 style="text-align:center; color:white">مسابقة شباب الخير بالبرقي</h1>
                <br>
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="header-content">
                            <p style="font-size:25px; text-align: right">
                                الان تستطيع التعرف علي درجات الطالب في السنوات السابقة، وايضا مقرر العام القادم من خلال الرابط التالي:
                            </p>
                            <div class="button" style="text-align: right">
                                <a class="btn primary-btn" href="{% url 'result' %}">احصل علي النتيجة</a>
                            </div>
                            <br>
                            <br>
                            <p style="font-size:25px; text-align: right">كما تستطيع التسجيل الان في مسابقة شباب الخير:</p>
                            <div class="button" style="text-align: right">
                                <a class="btn primary-btn" href="{% url 'registration' %}">التسجيل في المسابقة</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="header-image border-width">
                            <img src="{% static 'image/1.JPG' %}" alt="#" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% comment %} </div> {% endcomment %}
      <!-- End header Area -->
    </body>
</html>
{% endblock content %}

