{% load static %}
<br>
<br>
<div class="col-xl-8 center-horizontal">
  <div class="contact-form-wrapper">
    <div class="text-center">
      <img src="{% static 'image/success.png' %}" class="rounded" alt="..." width="150" height="150">
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-xl-10 col-lg-8 mx-auto">
        <div class="section-title text-center" >
          <h2>لقد قمت بالتسجيل في مسابقة شباب الخير بالبرقي بنجاح</h2>
        </div>
      </div>
    </div>
    <div class="navbar-brand" style="text-align: center">
        <a class="primary-btn landing-button" href="{% url 'index' %}" style="background-color: rgb(79, 111, 82); color:white;">الصفحة الرئيسية</a>
    </div>
  </div>
</div>
